/*
 * Name: Jungeun Kim
 * Date: May 8, 2026
 * Section: IAB 6068
 *
 * This is the CSS file for decoration my site.
 * It can manage hovering interaction and flip the card.
 */

.btn {
  cursor: pointer;
  border: 4px solid #6c5a72;
  border-radius: 15px;
  padding: 15px 30px;
  font-size: 30px;
  color:white;
  background-color: #9986b3;

  transition: filter 0.2s ease, transform 0.1s ease;
}

.btn:hover {
  filter: brightness(110%);
}

.btn:active {
  filter: brightness(80%);
}

.no-click {
  pointer-events: none;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Jua", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.hide {
  display: none !important;
}

.hidden {
  visibility: hidden !important;
  opacity: 0 !important;
}

html {
    height: 100%;
    overflow: auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e0dbef;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 100%;
  background-color: #e0dbef;
  font-size: 30px;
}

header > p {
  padding: 10px;
  border: 3px solid black;
  border-radius: 15px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 40px;
}

#explanation {
  margin: 50px;
  margin-bottom: 0px;
  border: 5px solid #8b4513;
  border-radius: 15px;
  padding: 10px;
  background-color: #356146;
  color: white;
  width: 800px;
  font-size: 1.3rem;
  visibility: visible;
  opacity: 1;
}

#start {
  visibility: visible;
  opacity: 1;
}

#startBtn {
  margin-top: 100px;
}

#difficulty-container {
  display: flex;
  justify-content: center;
  gap: 50px;

  position: absolute;
  left: 50%;
  top: 55%;

  transform: translate(-50%, 0);
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.95);
  border: 5px solid #978ff9;
  border-radius: 15px;
  transition: all 0.3s ease;
  z-index: 500;
}

#easy {
  background-color: #6aa121;
  border-color: #317c2c;
}

#normal {
  background-color: #fbb917;
  border-color: #ffa62f;
}

#hard {
  background-color: #e55b3c;
  border-color: #c04000;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  padding-bottom: 50px;
  visibility: visible;
  opacity: 1;
}

#top-side {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-items: center;
  padding: 20px;
  font-size: 25px;
}

#card-container {
  display: grid;
  grid-template-columns: repeat(var(--grid-cols, 4), 1fr);
  gap: 15px;
  padding: 25px;
  background-color: #966f33;
  border: #806517 solid 5px;
  border-radius: 10px;
  height: auto;
  overflow: visible;
}

.card {
  width: 120px;
  height: 160px;
  perspective: 1000px;
  cursor: pointer;
  flex-shrink: 0;
}

.card-inner, .card-front, .card-back {
  width: 100%;
  height: 100%;
}

.card-inner {
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}

.card-front {
  background-color: white;
  transform: rotateY(180deg);
  z-index: 2;
}

.card-back {
  background-color: #e0dbef;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.card-front img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#hint-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-direction: column;

  position: absolute;
  left: 50%;
  top: 20%;

  transform: translate(-50%, 0);
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.95);
  border: 5px solid #978ff9;
  border-radius: 15px;
  transition: all 0.3s ease;
  z-index: 500;
  pointer-events: auto;

  font-size: 30px;
}

#hint-container img {
  height: 400px;
}

#quiz-button-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.quiz {
  width: 50px;
  height: 50px;
}

#result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-direction: column;

  position: absolute;
  left: 50%;
  top: 20%;

  transform: translate(-50%, 0);
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.95);
  border: 5px solid #978ff9;
  border-radius: 15px;
  transition: all 0.3s ease;
  z-index: 500;

  font-size: 60px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  height: 5%;
  width: 100%;
  background-color: #e0dbef;
  position: relative;
}